{% extends 'book/base.html' %}
{% load index_tag %}

{% block title %}
Global TOP 20 음악<strong>{{music}}</strong>
{% endblock %}

{% block content %}
<div class="row">
  {% for n in name %}
  <div class="col">
    <h5 class="mt-4"><strong>{{forloop.counter}}</strong>. {{n}}</h5>
    <h6>
    {% for i in artists|get_at_index:forloop.counter0 %}
      {{ i }},
    {% endfor %}
    </h6>
    <p><img src="{{ cover_img|get_at_index:forloop.counter0 }}"></p>
  </div>
  {% endfor %}
</div>
{% endblock %}
